@import 'mixins';

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/pictures_on_the_wall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    @include centrowanieFlex;

    .header{
        text-align: center;

        h1{
            text-transform: uppercase;
            font-size: 2.5em;
            color: white;
            margin: auto;
            padding-bottom: 30px;
        }
        h2{
            font-size: 2em;
            color: white;
            margin: auto;
            padding-bottom: 30px;
            @include paragraphAfterHeadline;
        }
        .btn-first{
            position: relative;
            display: block;
            background-color: $blue-background-color;
            border-color: $blue-background-color;
            color: white;
            text-transform: uppercase;
            margin: auto;
            font-size: 2em;
            transition: all 0.4s;
        }
    }
}