@media all and (max-width: 992px) {
    
    .nav-link {
        background: #0ed8d6;
    }

    button:focus {
        outline: none;
    }
    .portfolio-foto {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 0px;
        flex-wrap: wrap;
        min-width:300px;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    p{
        font-size: 0.9rem;
    }
    .services,
    .contact {
        height: auto;
        margin:0;
        padding: 0;
    }

    .foto img {
        max-width: 300px;
    }

}