@import "zmienne";
@import 'mixins';

.team{
    .team-text {
        text-align: center;
        justify-content: center;

        p {
            @include paragraphAfterHeadline;
        }
    }
    .container-team-inner {
        padding: 20px;
        @include centrowanieFlex;

        .team-foto {
            
            .foto{
            text-align: center;
            justify-content: center;
            width: 100%;
                img {
                    width: 100%;
                }
            }
            
            .team-text {
                text-align: center;
                justify-content: center;
            }

            .icons {
                text-align: center;
                justify-content: center;

                a {
                    text-align: center;
                    
                    .fab{
                    width: 30px;
                    height:30px;
                    line-height: 30px;
                    color: white;
                    background-color: black;
                    border: 1px solid black;
                    border-radius: 50%;
                    text-align: center;
                    align-self: center;
                    transition: all 1s;

                    &:hover {
                        background-color: $blue-background-color;
                        border: 1px solid $blue-background-color;
                    }
                    }
                }
            }
        }
        

    }
}